
@model IEnumerable<Group8_iCLOTHINGApp.Models.UserQuery>

@{
    ViewBag.Title = "Index";
}

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Index</h2>

<h2>Ask a Question</h2>

<p>Drop your question down below, we will get back to you as soon as possible!</p>

<table class="table text-center" s>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.queryDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.queryDescription)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.queryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.queryDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.queryNo }) |
                @Html.ActionLink("Details", "Details", new { id = item.queryNo }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.queryNo })
            </td>
        </tr>
    }

</table>

