<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<style>
    .bg-custom {
        background-color: rgb(240, 249, 255);
        /* background-color: #e8eaed;*/
    }
    .plain-link {
        color: black !important; 
    }
    .iclothing {
        background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .container {
        background-color: white;
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .signupbg {
        background-color: rgb(240, 249, 255);
    }
</style>

<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-custom">
        <div class="container">
            @Html.ActionLink("iClothing", "AdminDashboard", "Administrators", new { area = "" }, new { @class = "iclothing navbar-brand plain-link" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("About", "AboutAdmin", "Home", new { area = "" }, new { @class = "nav-link plain-link" })</li>
                    @*<li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link plain-link" })</li>*@
                </ul>
                <ul class="navbar-nav navbar-right">
                    <li>
                        @Html.ActionLink("Sign Out", "Index", "Home", new { area = "" }, new { @class = "nav-link plain-link" })
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Creators: Roberto Herrera, Luke Domalewski, and Brennan Scheel. &copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
